* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

html {
  font-size: 12px;
}

.wrap {
  width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.contentswrap {
  width: 100%;
}

.topbanner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
}

.topnav {
  width: 100%;
  height: 42px;
  margin-top: 0;
}
.topnav .above {
  width: 100%;
  height: 100%;
  display: flex;
}
.topnav .above .aboveinner {
  width: 100%;
}
.topnav .above .aboveinner .color {
  width: 100%;
  height: 100%;
  display: flex;
}
.topnav .above .aboveinner .color .colorone {
  width: 20%;
  position: relative;
}
.topnav .above .aboveinner .color .colorone svg {
  height: 100%;
}
.topnav .above .aboveinner .color .colortwo {
  width: 80%;
}
.topnav .above .aboveinner .color .colortwo svg {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
.topnav .above .aboveinner .color .colortwo svg g {
  font-weight: 500;
  font-size: 1.1rem;
}
.topnav .above .left {
  width: 50%;
  height: 100%;
}
.topnav .above .left ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.topnav .above .left ul .line {
  font-size: 0.5rem;
}
.topnav .above .left ul li {
  font-size: 1rem;
  line-height: 4rem;
  cursor: pointer;
  color: #6b6b6b;
}

.abovebackcolor {
  position: absolute;
  top: 72.5px;
  right: 0;
  width: 80%;
  height: 42px;
  background-color: #f2f2f2;
  z-index: -20;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first_nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first_nav .logo img {
  width: 180px;
  height: 66px;
  margin-top: -15px;
}
.first_nav .both0 {
  display: flex;
  width: 890px;
  justify-content: space-between;
  align-items: center;
}
.first_nav .profile img {
  border-radius: 50%;
  box-shadow: 0 0 10px 0.5px rgb(0, 92, 0);
}
.first_nav .both {
  display: flex;
  gap: 30px;
}
.first_nav .both img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.second_nav {
  width: 1200px;
  display: none;
}
.second_nav .secnav_one {
  display: flex;
  align-items: center;
  gap: 20px;
}
.second_nav .logo img {
  width: 120px;
}
.second_nav .profile img {
  border-radius: 50%;
  box-shadow: 0 0 10px 0.5px rgb(0, 92, 0);
}
.second_nav .both {
  display: flex;
  gap: 30px;
}
.second_nav .both img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.second_nav.fixed {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
}

.search input {
  width: 560px;
  height: 48px;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
}

.logo img {
  width: 180px;
  height: 66px;
}

.navwrapinham {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navwrapinham li {
  cursor: pointer;
}

.hamburger {
  width: 100%;
}
.hamburger .toggle_btn img {
  width: 40px;
  height: 40px;
  border: #6b6b6b 1px solid;
  border-radius: 60%;
}

.EBOOK,
.SAM,
.HOTTRACK {
  display: none;
}

.servicetab {
  display: none;
}

.whole {
  width: 1200px;
  height: 685px;
  border: #121212 1px solid;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  display: none;
  background-color: white;
}
.whole #notice {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2rem;
}
.whole #notice li {
  width: 50%;
  height: 60px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}
.whole .main_list {
  padding: 0 30px;
  width: 100%;
  height: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  align-content: center;
}
.whole .main_list ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.whole .main_list ul li {
  cursor: pointer;
  color: #6b6b6b;
}
.whole .main_list ul li:hover {
  color: rgb(34, 137, 255);
}
.whole .sub_list_wrap {
  padding: 0 30px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.whole .sub_list_wrap .westernbook,
.whole .sub_list_wrap .japanbook,
.whole .sub_list_wrap .kyobobook {
  display: none;
}
.whole .sub_list_wrap .left_list {
  width: 13%;
  height: 90%;
}
.whole .sub_list_wrap .left_list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}
.whole .sub_list_wrap .left_list ul li {
  cursor: pointer;
  color: #6b6b6b;
}
.whole .sub_list_wrap .left_list ul li:hover {
  color: rgb(34, 137, 255);
}
.whole .sub_list_wrap .center_list {
  width: 80%;
  height: 80%;
}
.whole .sub_list_wrap .center_list .center_list_ul {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title {
  margin-bottom: 40px;
  margin-right: 40px;
  width: 630px;
  font-size: 1.3rem;
  color: #000000;
  font-weight: 600;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title ul li {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400;
  color: #6b6b6b;
}

.center_icon {
  margin-top: 20px;
}
.center_icon ul {
  display: flex;
  gap: 20px;
}
.center_icon ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
  font-weight: 400;
}
.center_icon ul li img {
  width: 70px;
  height: 70px;
}

.upnav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.upnav li {
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  color: #6b6b6b;
}

.smallnavlist {
  display: flex;
  gap: 20px;
}
.smallnavlist li {
  font-weight: 400;
  font-size: 1.2rem;
  color: #6b6b6b;
}

footer {
  height: 370px;
}
footer p {
  font-size: 1.15rem;
}
footer span {
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footertoptitle {
  font-size: 1.15rem;
  font-weight: 600;
}
footer .footertop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}
footer .footertop-left, footer .footertop-right {
  display: flex;
  width: 50%;
  gap: 10px;
  justify-content: space-between;
}
footer .footergp {
  width: 50px;
  text-align: center;
}
footer .footergp span {
  font-size: 0.5rem;
}
footer .footerdown {
  display: flex;
  margin-top: 50px;
}
footer .footerdown-left {
  width: 75%;
}
footer .footerdown-left img {
  width: 150px;
  margin-bottom: 20px;
}
footer .footerdown-left li,
footer .footerdown-left a,
footer .footerdown-left span {
  color: #757575;
}
footer .footerdown-left span {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
footer .footerdown-left .underlogo {
  display: flex;
}
footer .footerdown-left .underlogo li {
  font-size: 1.15rem;
  align-items: center;
  margin-bottom: 23px;
}
footer .footerdown-left .underlogo li:not(:last-child)::after {
  content: "|";
  margin: 0 12px;
  font-size: 0.6rem;
  align-items: center;
}
footer .footerdown-left .under-underlogo {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
footer .footerdown-left .under-underlogo li:not(:last-child)::after {
  content: "|";
  margin: 0 6px;
  font-size: 0.55rem;
  vertical-align: middle;
}
footer .footerdown-left .under-underlogo button {
  font-size: 1rem;
  width: 90.5px;
  height: 24px;
  padding: 2px;
  background-color: white;
  border-radius: 5px;
  border: solid 0.1px;
  height: 20px;
  line-height: 1rem;
}
footer .footerdown-right-top {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer .footerdown-right {
  width: 30%;
}
footer .footerdown-right select {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
footer .footerdown-right .footericon {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
footer .footerdown-right .footericon img {
  width: 32px;
  height: 32px;
}
footer .footerdown-right .one {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer .footerdown-right .one li span {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 10px;
}
footer .footerdown-right .one li button {
  font-size: 1rem;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: solid 0.1px;
  background-color: white;
  line-height: 1rem;
  cursor: pointer;
}
footer .footerdown-right p {
  font-size: 1rem;
}
footer .footerdown-right .two {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}