* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

html {
  font-size: 12px;
}

.wrap {
  width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.contentswrap {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  width: 100%;
  background-color: antiquewhite;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .both0 {
  display: flex;
  width: 890px;
  background-color: #6b6b6b;
  justify-content: space-between;
  align-items: center;
}
nav .profile img {
  border-radius: 50%;
  box-shadow: 0 0 10px 0.5px rgb(0, 92, 0);
}
nav .both {
  display: flex;
  gap: 30px;
}
nav .both img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search input {
  width: 560px;
  height: 48px;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
}

.logo img {
  width: 180px;
  height: 66px;
}

.hamburger {
  width: 100%;
}
.hamburger .toggle_btn img {
  width: 40px;
  height: 40px;
  border: #6b6b6b 1px solid;
  border-radius: 60%;
}

.whole {
  width: 1200px;
  height: 685px;
  border: #121212 1px solid;
  border-radius: 15px;
  padding: 30px;
  position: absolute;
  z-index: 1000;
  display: none;
  background-color: white;
}
.whole #notice {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2rem;
}
.whole #notice li {
  width: 50%;
  height: 30px;
  background-color: aliceblue;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
.whole .main_list {
  width: 100%;
  height: 30px;
  background-color: aqua;
  font-size: 1.1rem;
  font-weight: 600;
}
.whole .main_list ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.whole .main_list ul li {
  cursor: pointer;
}
.whole .sub_list_wrap {
  width: 100%;
  height: 100%;
  background-color: #6b6b6b;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.whole .sub_list_wrap .westernbook, .whole .sub_list_wrap .japanbook, .whole .sub_list_wrap .kyobobook {
  display: none;
}
.whole .sub_list_wrap .left_list {
  width: 20%;
  height: 80%;
  background-color: aliceblue;
}
.whole .sub_list_wrap .left_list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}
.whole .sub_list_wrap .left_list ul li {
  cursor: pointer;
}
.whole .sub_list_wrap .center_list {
  width: 80%;
  background-color: antiquewhite;
  height: 80%;
}
.whole .sub_list_wrap .center_list .center_list_ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title {
  background-color: tomato;
  width: 70%;
  font-size: 1.3rem;
  color: #f2f2f2;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
  background-color: rgb(82, 105, 124);
  gap: 20px;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title ul li {
  cursor: pointer;
  font-size: 1.1rem;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title2 {
  background-color: yellow;
  width: 30%;
  font-size: 1.3rem;
  color: #f2f2f2;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title2 ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
  background-color: rgb(82, 105, 124);
  gap: 20px;
}
.whole .sub_list_wrap .center_list .center_list_ul .center_title2 ul li {
  cursor: pointer;
  font-size: 1.1rem;
}

.slidewrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slidewrap .slide {
  width: 890px;
  height: 380px;
  margin-bottom: 30px;
}
.slidewrap .slide .swiper-slide img {
  border-radius: 10px;
}
.slidewrap .minislide {
  position: relative;
  width: 274px;
  height: 380px;
  border: rgb(118 118 118/var(--tw-text-opacity, 0.3)) 0.5px solid;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.slidewrap .minislide .miniSwiper {
  height: 100%;
}
.slidewrap .minislide h2 {
  line-height: 2.5rem;
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 15px;
}
.slidewrap .minislide span {
  font-size: 1.1rem;
  color: #6b6b6b;
  font-weight: 500;
}
.slidewrap .minislide .mini-next,
.slidewrap .minislide .mini-prev {
  position: absolute;
  top: auto;
  bottom: 30px;
  width: 20px;
  height: 20px;
}
.slidewrap .minislide .mini-next:after,
.slidewrap .minislide .mini-prev:after {
  font-size: 1rem;
  color: #121212;
  font-weight: 600;
}
.slidewrap .minislide .mini-next {
  left: auto;
  right: 80px;
}
.slidewrap .minislide .mini-prev {
  right: auto;
  left: 80px;
}
.slidewrap .minislide .swiper-pagination {
  background-color: white;
  position: absolute;
}
.slidewrap .minislide .swiper-pagination-bullet {
  background-color: white;
  font-size: 1rem;
}

#today {
  width: 40%;
  float: left;
}

#today2 {
  width: 60%;
  float: right;
}
#today2 .book {
  width: 180px;
}

.iconwrap {
  width: 100%;
  height: 96px;
  margin-bottom: 60px;
}
.iconwrap ul {
  display: flex;
  justify-content: space-between;
}
.iconwrap li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.iconwrap li a,
.iconwrap li span {
  align-self: center;
}
.iconwrap .ad1 {
  margin-left: 1%;
}

.AD {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.scentslide {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.scentslide h2 {
  margin-bottom: 20px;
}
.scentslide .scent-wrapper {
  overflow: hidden;
}
.scentslide .scentarray {
  display: flex;
  gap: 24px;
  width: 100%;
}
.scentslide .scentarray div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.scentslide .scentarray img {
  width: 180px;
  height: 180px;
}
.scentslide .scentarray strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.bookslide {
  width: 100%;
  height: 380px;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: relative;
}
.bookslide h2 {
  margin-bottom: 20px;
}
.bookslide .swiper-button-prev,
.bookslide .swiper-button-next {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #6b6b6b;
  z-index: 100;
}
.bookslide .swiper-button-prev:after,
.bookslide .swiper-button-next:after {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.bookslide .book-wrapper {
  width: 100%;
}
.bookslide .book-wrapper .bookarray {
  display: flex;
  justify-content: space-between;
}
.bookslide .book-wrapper .bookarray div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.bookslide .book-wrapper .bookarray img {
  width: 180px;
  height: 260px;
}
.bookslide .book-wrapper .bookarray strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.bookslide .swiper-button-next {
  margin-right: -80px;
}
.bookslide .swiper-button-prev {
  margin-left: -80px;
}

.mySwiperevent {
  width: 100%;
}
.mySwiperevent .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

.ai {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 80px;
  justify-content: space-between;
}
.ai .aitext {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 237px;
}
.ai .aitext .aitext1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.ai .aitext .aitext1 .aitext2 {
  display: flex;
  flex-direction: column;
}
.ai .aitext .aitext1 .aitext2 h1 {
  font-size: 3rem;
}
.ai .aitext .aitext1 .aitext2 h2 {
  font-size: 1.8rem;
  color: rgb(60 154 23/var(--tw-text-opacity, 1));
}
.ai .aitext .aitext1 a {
  font-size: 1.1rem;
  font-weight: 600;
}
.ai .aitext p {
  font-size: 1.3rem;
  color: #6b6b6b;
}
.ai .aitext button {
  border: rgb(80 85 177/var(--tw-text-opacity, 1)) 1px solid;
  border-radius: 8px;
  color: rgb(80 85 177/var(--tw-text-opacity, 1));
  background-color: white;
  height: 44px;
  font-weight: 600;
  cursor: pointer;
}
.ai .aibook .bookarray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 80px;
}
.ai .aibook .bookarray .book {
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}
.ai .aibook .bookarray .book img {
  width: 160px;
  height: 232px;
}
.ai .aibook .bookarray .book strong {
  font-size: 1.2rem;
}

.casting {
  display: flex;
}
.casting .bookarray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.casting .bookarray .book {
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}
.casting .bookarray .book img {
  width: 220px;
  height: 220px;
}
.casting .bookarray .book strong {
  font-size: 1.2rem;
}

.event {
  position: relative;
}
.event .swiper-button-prev,
.event .swiper-button-next {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #6b6b6b;
  z-index: 100;
}
.event .swiper-button-prev:after,
.event .swiper-button-next:after {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.event .swiper-button-next {
  margin-right: -80px;
}
.event .swiper-button-prev {
  margin-left: -80px;
}

.swiper-slide .book div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.swiper-slide .book img {
  width: 180px;
  height: 260px;
}
.swiper-slide .book strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.tabmain {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2.5rem;
}
.tabmain ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tabmain li {
  font-size: 14px;
  color: rgb(118 118 118/var(--tw-text-opacity, 1));
  cursor: pointer;
}
.tabmain li:active {
  text-decoration: underline;
}
.tabmain li:nth-child(1) {
  font-weight: 600;
  color: black;
}

.tabfirst {
  display: flex;
  gap: 20px;
}
.tabfirst span {
  font-size: 1.2rem;
  font-weight: 600;
}

.besttab {
  width: 100%;
  height: 726px;
  margin-bottom: 80px;
  display: flex;
  gap: 34px;
  flex-direction: row;
  justify-content: space-between;
}

.bookbest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  height: 332px;
  justify-content: space-between;
}
.book2 img {
  width: 180px;
  height: 260px;
}
.book2 strong {
  font-size: 1.3rem;
  font-weight: 500;
}

.numberbest {
  background-color: #6b6b6b;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
}

.zoomslide {
  width: 100%;
  height: 200px;
  margin-bottom: 80px;
}

.casting {
  width: 100%;
  height: 250px;
  background-color: aqua;
  margin-bottom: 80px;
}

.event {
  width: 100%;
  height: 224px;
  margin-bottom: 80px;
}
.event .eventlist {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.event .eventlist #evnttab {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.event .eventlist #evnttab li {
  padding: 0 10px;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 260px;
}

footer {
  height: 370px;
}
footer p {
  font-size: 1.15rem;
}
footer span {
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footertoptitle {
  font-size: 1.15rem;
  font-weight: 600;
}
footer .footertop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}
footer .footertop-left, footer .footertop-right {
  display: flex;
  width: 50%;
  gap: 10px;
  justify-content: space-between;
}
footer .footergp {
  width: 50px;
  text-align: center;
}
footer .footergp span {
  font-size: 0.5rem;
}
footer .footerdown {
  display: flex;
  margin-top: 50px;
}
footer .footerdown-left {
  width: 75%;
}
footer .footerdown-left img {
  width: 150px;
  margin-bottom: 20px;
}
footer .footerdown-left li,
footer .footerdown-left a,
footer .footerdown-left span {
  color: #757575;
}
footer .footerdown-left span {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
footer .footerdown-left .underlogo {
  display: flex;
}
footer .footerdown-left .underlogo li {
  font-size: 1.15rem;
  align-items: center;
  margin-bottom: 23px;
}
footer .footerdown-left .underlogo li:not(:last-child)::after {
  content: "|";
  margin: 0 12px;
  font-size: 0.6rem;
  align-items: center;
}
footer .footerdown-left .under-underlogo {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
footer .footerdown-left .under-underlogo li:not(:last-child)::after {
  content: "|";
  margin: 0 6px;
  font-size: 0.55rem;
  vertical-align: middle;
}
footer .footerdown-left .under-underlogo button {
  font-size: 1rem;
  width: 90.5px;
  height: 24px;
  padding: 2px;
  background-color: white;
  border-radius: 5px;
  border: solid 0.1px;
  height: 20px;
  line-height: 1rem;
}
footer .footerdown-right-top {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer .footerdown-right {
  width: 30%;
}
footer .footerdown-right select {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
footer .footerdown-right .footericon {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
footer .footerdown-right .footericon img {
  width: 32px;
  height: 32px;
}
footer .footerdown-right .one {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer .footerdown-right .one li span {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 10px;
}
footer .footerdown-right .one li button {
  font-size: 1rem;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: solid 0.1px;
  background-color: white;
  line-height: 1rem;
  cursor: pointer;
}
footer .footerdown-right p {
  font-size: 1rem;
}
footer .footerdown-right .two {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}