.slidewrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slidewrap .slide {
  width: 890px;
  height: 380px;
  margin-bottom: 30px;
}
.slidewrap .slide .swiper-slide img {
  border-radius: 10px;
}
.slidewrap .minislide {
  position: relative;
  width: 274px;
  height: 380px;
  border: rgb(118 118 118/var(--tw-text-opacity, 0.3)) 0.5px solid;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.slidewrap .minislide .miniSwiper {
  height: 100%;
}
.slidewrap .minislide h2 {
  line-height: 2.5rem;
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 15px;
}
.slidewrap .minislide span {
  font-size: 1.1rem;
  color: #6b6b6b;
  font-weight: 500;
}
.slidewrap .minislide .mini-next,
.slidewrap .minislide .mini-prev {
  position: absolute;
  top: auto;
  bottom: 30px;
  width: 20px;
  height: 20px;
}
.slidewrap .minislide .mini-next:after,
.slidewrap .minislide .mini-prev:after {
  font-size: 1rem;
  color: #121212;
  font-weight: 600;
}
.slidewrap .minislide .mini-next {
  left: auto;
  right: 80px;
}
.slidewrap .minislide .mini-prev {
  right: auto;
  left: 80px;
}
.slidewrap .minislide .swiper-pagination {
  background-color: white;
  position: absolute;
}
.slidewrap .minislide .swiper-pagination-bullet {
  background-color: white;
  font-size: 1rem;
}

#today {
  width: 50%;
  float: left;
}
#today .swiper-slide {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
#today .swiper-slide .book {
  display: flex;
  gap: 20px;
}
#today .swiper-slide .book div {
  width: 60%;
}
#today .swiper-slide .book div strong {
  padding-top: 30px;
  margin-bottom: 30px;
}
#today .swiper-slide .book div p {
  font-size: 1.1rem;
  color: #6b6b6b;
}

#today2 {
  width: 50%;
  float: right;
}
#today2 .swiper-slide {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
#today2 .swiper-slide .book {
  width: 135px;
  height: 195px;
}
#today2 .swiper-slide .book img {
  width: 100%;
  height: 100%;
}

.iconwrap {
  width: 100%;
  height: 96px;
  margin-bottom: 60px;
}
.iconwrap ul {
  display: flex;
  justify-content: space-between;
}
.iconwrap li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.iconwrap li a,
.iconwrap li span {
  align-self: center;
}
.iconwrap .ad1 {
  margin-left: 1%;
}

.AD {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.scentslide {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.scentslide h2 {
  margin-bottom: 20px;
}
.scentslide .scent-wrapper {
  overflow: hidden;
}
.scentslide .scentarray {
  display: flex;
  gap: 24px;
  width: 100%;
}
.scentslide .scentarray div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.scentslide .scentarray img {
  width: 180px;
  height: 180px;
}
.scentslide .scentarray strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.bookslide {
  width: 100%;
  height: 380px;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: relative;
}
.bookslide h2 {
  margin-bottom: 20px;
}
.bookslide .swiper-button-prev,
.bookslide .swiper-button-next {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #6b6b6b;
  z-index: 100;
}
.bookslide .swiper-button-prev:after,
.bookslide .swiper-button-next:after {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.bookslide .book-wrapper {
  width: 100%;
}
.bookslide .book-wrapper .bookarray {
  display: flex;
  justify-content: space-between;
}
.bookslide .book-wrapper .bookarray div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.bookslide .book-wrapper .bookarray img {
  width: 180px;
  height: 260px;
}
.bookslide .book-wrapper .bookarray strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.bookslide .swiper-button-next {
  margin-right: -80px;
}
.bookslide .swiper-button-prev {
  margin-left: -80px;
}

.mySwiperevent {
  width: 100%;
}
.mySwiperevent .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

.ai {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 80px;
  justify-content: space-between;
}
.ai .aitext {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 237px;
}
.ai .aitext .aitext1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.ai .aitext .aitext1 .aitext2 {
  display: flex;
  flex-direction: column;
}
.ai .aitext .aitext1 .aitext2 h1 {
  font-size: 3rem;
}
.ai .aitext .aitext1 .aitext2 h2 {
  font-size: 1.8rem;
  color: rgb(60 154 23/var(--tw-text-opacity, 1));
}
.ai .aitext .aitext1 a {
  font-size: 1.1rem;
  font-weight: 600;
}
.ai .aitext p {
  font-size: 1.3rem;
  color: #6b6b6b;
}
.ai .aitext button {
  border: rgb(80 85 177/var(--tw-text-opacity, 1)) 1px solid;
  border-radius: 8px;
  color: rgb(80 85 177/var(--tw-text-opacity, 1));
  background-color: white;
  height: 44px;
  font-weight: 600;
  cursor: pointer;
}
.ai .aibook .bookarray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 80px;
}
.ai .aibook .bookarray .book {
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}
.ai .aibook .bookarray .book img {
  width: 160px;
  height: 232px;
}
.ai .aibook .bookarray .book strong {
  font-size: 1.2rem;
}

.cast {
  position: relative;
  background-color: #757575;
}
.cast .swiper-button-prev,
.cast .swiper-button-next {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #6b6b6b;
  z-index: 100;
}
.cast .swiper-button-prev:after,
.cast .swiper-button-next:after {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.cast .swiper-button-next {
  margin-right: -80px;
}
.cast .swiper-button-prev {
  margin-left: -80px;
}
.cast .swiper-wrapper {
  background-color: aqua;
}
.cast .swiper-wrapper .book div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.cast .swiper-wrapper .book img {
  width: 180px;
  height: 260px;
}
.cast .swiper-wrapper .book strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.event {
  position: relative;
}
.event .swiper-button-prev,
.event .swiper-button-next {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #6b6b6b;
  z-index: 100;
}
.event .swiper-button-prev:after,
.event .swiper-button-next:after {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.event .swiper-button-next {
  margin-right: -80px;
}
.event .swiper-button-prev {
  margin-left: -80px;
}

.swiper-slide .book div {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.swiper-slide .book img {
  width: 180px;
  height: 260px;
}
.swiper-slide .book strong {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.tabmain {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2.5rem;
}
.tabmain ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tabmain li {
  font-size: 14px;
  color: rgb(118 118 118/var(--tw-text-opacity, 1));
  cursor: pointer;
}
.tabmain li:active {
  text-decoration: underline;
}
.tabmain li:nth-child(1) {
  font-weight: 600;
  color: black;
}

.tabfirst {
  display: flex;
  gap: 20px;
}
.tabfirst span {
  font-size: 1.2rem;
  font-weight: 600;
}

.besttab {
  width: 100%;
  height: 726px;
  margin-bottom: 80px;
  display: flex;
  gap: 34px;
  flex-direction: row;
  justify-content: space-between;
}

.bookbest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  height: 332px;
  justify-content: space-between;
}
.book2 img {
  width: 180px;
  height: 260px;
}
.book2 strong {
  font-size: 1.3rem;
  font-weight: 500;
}

.numberbest {
  background-color: #6b6b6b;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
}

.zoomslide {
  width: 100%;
  height: 200px;
  margin-bottom: 80px;
}

.event {
  width: 100%;
  height: 224px;
  margin-bottom: 80px;
}
.event .eventlist {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.event .eventlist #evnttab {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.event .eventlist #evnttab li {
  padding: 0 10px;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 260px;
}